* {
  list-style: none;
  font-family: 'Signika Negative', sans-serif;
}

body {

}

a {
  text-decoration: none;
}

div a {
  width: 100%;
  height: 30px;
  display:block;
  
}

.top-bar {
  background-color: #F96938;
  height: 30px;
  width: 100%;
  /*border: 1px black solid;*/
}

.top-bar li {
  display: inline-block;
  font-size: 14px;
  color: white;
  z-index: 1;
  text-shadow: 1px 0px #616161;
  margin-left: 10px;
  margin-right: 10px;
}

.free-shipping {
    margin: 0;
}

.free-shipping li {
  padding: 5px;
}

#free-ship-button {
  background: #E2E1E2;
  opacity: 0.4;
  /*border: 1px black solid;*/
  text-shadow: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

.nav {
  background-color: white;
  height: 101px;
  width: 100%;
}
 .nav img {
    width: 110px;
 }


.nav li {
  padding-top: 15px;
  padding-bottom: 15px;
}

.get-info, .cart-search,
 .nav li, .nav-options, #free-ship-button {
  display: inline-block;
}










