* {
  list-style: none;
  font-family: 'Signika Negative', sans-serif;
  /*box-sizing: border-box;*/
}

body {
    /*margin-left: 70px;
    margin-right: 70px;*/
}

a {
  text-decoration: none;

}

.top-bar a {
  height: 30px;
}

/*div a {
  width: 100%;
  height: 30px;
  display:block;
  padding: 0;
}*/

.top-bar {
  padding-left: 65px;
  background-color: #F96938;
  height: 30px;
  width: 100%;
  /*box-sizing: border-box;*/
}

.top-bar li {
  display: inline-block;
  font-size: 15px;
  font-weight: lighter;
  color: white;
  /*z-index: 1;*/
  text-shadow: 1px 0px #616161;
  padding-left: 10px;
  padding-right: 10px;
}

.free-shipping {
    margin: 0;
    height: 30px;
}

.free-shipping ul {
  max-height: 30px;
}

.free-shipping li {
  padding: 5px;
  max-height: 100%;
}

#free-ship-button {
  background: #E2E1E2;
  background-opacity: 0.4;
  /*border: 1px black solid;*/
  text-shadow: none;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.nav {
  background-color: white;
  height: 127px;
  width: 100%;
  /*border: solid red 1px;*/
  box-sizing: border-box;
}

 .nav img {
  height: 110px;
  padding-left: 110px;
  padding-top: 5px;
  border: solid red  1px;
  box-sizing: border-box;
  float: left;
 }

 .nav div {
  height: 135px;
  float: left;
  box-sizing: border-box;
 }

.nav-options {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 120px;
  box-sizing: border-box;
  border: solid red 1px;
  display: inline-block;
  float: left;
}

.nav-options li {
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 15px;
  margin-right: 15px;
  border: solid red 1px;

}

.nav-options li:last-child {
  margin-right: 40px;
 } 

.get-info {
  float: left;
  width: 190px;
  height: 25px;
  box-sizing: border-box;
  /*position: absolute;
  right: 150px;*/
}

.get-info ul {
  box-sizing: border-box;
  height: 150px;
}

.get-info li {
  border: solid red 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  display: inline-block;
}


/*Sign In Button*/
.get-info li:nth-child(1) {
  font-size: 10px;
  color: #ccc;
  /*position: absolute;*/
  top: 80px;
  right: 180px;
}
/*Sign In Button*/

/*Register Button*/
.get-info li:nth-child(2) {
  font-size: 10px;
  color: #ccc;
  top: 80px;
  right: 80px;
}
/*Register Button*/

div .cart-search {
  float: left;
  border: solid red  1px;
  display: inline;
  width: 180px;
  height: 40px;
  /*overflow: auto;
*/
}

#cart {
  height: 25px;
  width: 50px;
  padding: 0;
  display: inline-block;
}

#search {
  height: 25px;
  width: 100px;
  margin-left: 20px;
  display: inline-block;

}

.nav li {
  font-size: 24px;
  font-weight: lighter;
}

#cart {
  display: inline-block;
  border: solid red 1px;
}

#search {
  display: inline-block;
  border: solid red 1px;
}

.get-info, .cart-search,
 .nav li, .nav-options, #free-ship-button, 
 .dem-ties li, .what-we-have li {
  display: inline-block;
}

.dressing {
  max-height: 350px;
  background-color: #F4F4F4;

}

.dem-ties ul {
  margin-left: 65px;
  margin-top: 0px;
  /*max-height: 300px;*/
}

.dem-ties li {
  height: 150px;
  margin-left: 5px; 
  margin-right: 5px; 
}

.dem-ties img {
  height: 160px;
  float: left;
}

.dem-ties ul:nth-child(2) {
  max-height: 20px;
}

.tie-options ul {
  max-height: 20px;
}

.tie-options li {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: lighter;

}

#dress-better {
  font-size: 30 px;
  font-weight: lighter;
  height: 135px;
  padding: 40px 10px 10px 155px;
}

#dress-better h1 {
  font-size: 56px;
  font-weight: lighter;
  letter-spacing: 1px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-right: 150px;
  text-align: center;
}

.about {
  margin: 50px 0px 10px 110px;
}

.what-we-have {
  position: relative;
  max-height: 190px;
}
/*.what-we-have ul {
  height: 350px;
  padding-left: 20px;
  padding-right: 50px;
 
}*/

/*.what-we-have li {
  height: 150px;
  padding-left: 20px;
  padding-right: 50px;
 
}
*/
.what-we-have img {
  width: 340px;
  margin: 25px 0px 0px 5px;
  border: 1px solid #ccc;
  float: left;
  position: relative;
}

.what-we-have div {
  height: 180px;
  display: inline-block;
  padding: 0px 5px 0px 5px;

}

h2 {
  position: absolute;
  z-index: 1;
  float: right;
  margin: 50px 0px 0px 250px;
}

.history {
  margin: 120px 30px 0px 0px;
}
.history p {
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
  margin: 20px 0px 20px 0px;

}

h3 {
  font-size: 16px;
  color: #039DFE;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 2px;
  margin: 5px 0px 0px 10px;
}

.more-info {
  width: 100%;
  /*height: 150px;*/
  position: relative;

}

/*.more-info p {
  display: inline-block;
  float: left;
}
*/
h4 {
  float: left;
  font-size: 18px;
}

.weekly-pick {
  width: 280px;
  display: inline-block;
  float: left;
  margin: 50px 10px 20px 70px;
}

.weekly-pick li {
  display: inline-block;
  box-sizing: border-box;
  width: 250px;
}

.weekly-pick img {
  height: 140px;
}


.loop-us-in {
  display: inline-block; 
  width: 280px;
  padding: 0px 0px 0px 0px;
  float: left;
  margin: 45px 0px 20px 0px;
}

.loop-us-in li {
  display: inline-block;
  font-size: 14px;
}

.loop-us-in ul {
  width: 150;
}


.the-quarterly {
  display: inline-block;
  width: 280px;
  float: left;
  margin: 40px 0px 20px 0px;
}

.the-quarterly li {
  display: inline-block;
  float: left;
  padding: 0px 20px 0px 20px;
  font-size: 14px;
}

.style-guide {
  display: inline-block; 
  width: 280px; 
  float: left;
  margin: 40px 40px 20px 10px;
}

.style-guide li {
  display: inline-block; 
  font-size: 14px;
}

.style-guide img {
  width: 240px;
}

.sprite {
  background: url(sprite@2x.png) no-repeat 0 0;
}

#fb {
  background-position: -540px 0;
  width: 20px;
  height: 20px;
  display: inline-block;
}

#pinterest {
  background: url(sprite@2x.png) no-repeat -540px -80px;
  width: 20px;
  height: 20px;
}

#twitter {
  background: url(sprite@2x.png) no-repeat -540px -160px;
  background-size: 400px 200px;
  width: 20px;
  height: 20px;
  background-image: 
}


.footer {
  clear: left;
}

.last-footer {

}

.shop-by {
  display: inline-block;
}

.about-us {
  display: inline-block;
}

.style-guide2 {
  display: inline-block;
}

.help {
  display: inline-block;
}









